* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Century Gothic";
}

body {
  background-color: rgb(37, 37, 37);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 1vh;
}

.header{
  width: 100%;
  height: 9vh;
}

.head-wrap{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-items: center;
  align-items: center;
}

.qualifications{
  color: white;
  margin-right: 1vh;
}

.qual {
  background-color: green;
  font-size: 2vh;
  padding: .5vh;
  margin: .5vh;
  border-radius: 1vh;
  display: flex;
}

h1 {
  color: coral;
  /* text-align: center; */
  width: 100%;
  font-size: 6vh;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.start-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70vh;
  width: 70vw;
}

.text-input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90%;
  border-radius: 2vh;
  padding: 20px;
  font-size: 1.5rem;
}

button {
  transition: background-color 0.3s;
}

.preset {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 35%;
  height: 15%;
  border-bottom-left-radius: 2vh;
  background-color: maroon;
  color: white;
  font-size: 2rem;
}

.shuffle {
  position: absolute;
  bottom: 0;
  left: 35%;
  width: 10%;
  height: 15%;
  background-color: gray;
  color: white;
  font-size: 2rem;
}
.shuffle.flip{
  background-color: orangered;
}

.repeat {
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  height: 15%;
  background-color: gray;
  color: white;
  font-size: 2rem;
}
.repeat.flip{
  background-color: coral;
}

.timer {
  position: absolute;
  bottom: 0;
  left: 55%;
  width: 10%;
  height: 15%;
  background-color: gray;
  color: white;
  font-size: 2rem;
}

.go {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
  height: 15%;
  border-bottom-right-radius: 2vh;
  background-color: green;
  color: white;
  font-size: 3rem;
}

.opt {
  height: 2.5vh;
  width: 2.5vh;
  border-radius: 5px;
}

label {
  color: white;
  padding-left: 2vh;
  font-size: 3vh;
}

.column-wrap {
  width: 80%;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  transition: opacity 0.5s;
}


.column {
  background-color: #999999;
  border-radius: 8px;
  padding: 20px;
  font-size: 2rem;
  margin: 1vh;
  width: 45%;
  display: flex;
  flex-direction: column;
}

.home {
  position: absolute;
  bottom: 0;
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  font-size: 4vh;
  line-height: 7vh;
  align-items: center;
  transition: rotate 0.3s ease-in-out;
}
.home:hover{
  rotate: 360deg;
}

span {
  font-size: min(6vw, 6vh);
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  border-radius: 1vh;
  margin-bottom: .5vh;
  transition: color 0.2s, 
              background-color 0.2s;
}

.next {
  background-color: yellow;
}

.correct {
  color: white;
  background-color: green;
}

.disappear {
  opacity: 0;
  display: none;
}
