* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Century Gothic";
}

body {
  background-color: rgb(37, 37, 37);
  display: flex;
  flex-direction: column;
}

.left-sidebar {
  height: 100vh;
  width: 130px;
  position: fixed;
  left: 0;
  z-index: 2
}

canvas {
  z-index: 3;
  position: fixed;
  bottom: 60px;
  left: 10px;
  filter: drop-shadow(0 0.5mm 1.5mm rgb(0, 0, 0));
}

.qual-panel {
  width: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px;
}

.qual {
  margin: auto;
  display: flex;
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, .8);
  font-size: 800%;
}
.qual.flip{
  background-color: green;
}

.progress-bar{
  height: calc(100% - 130px);
  width: 70px;
  position: fixed;
  left: 25px;
  bottom: 130px;
  display: flex;
  flex-direction: column;
}

.bar-part{
  transition: height 0.4s ease-in-out;
}

.incomplete{
  height: 100%;
}

.leftover {
  /* background: linear-gradient(90deg, orange, yellow, orange); */
  background: yellow;
  translate: 0 70px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 0%;
}

.complete{
  background: limegreen;
  height: calc(0% + 70px);
  width: 140px;
  transform: translateX(-35px);
  clip-path: polygon(0 70px, 70px 0, 140px 70px, 105px 70px, 105px 100%, 35px 100%, 35px 70px);
}

svg {
  height: 80%;
}

.header {
  z-index: 1;
  position: relative;
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 20px 8vh;
  /* grid-template-columns: 3fr 150px 100px 100px 100px 100px; */
  grid-template-columns: 130px 3fr 2fr 1fr 1fr 1fr 1fr;
}

.arrow-cutout {
  position: fixed;
  z-index: -1;
  height: calc(8vh + 20px);
  width: 100vw;
  background: linear-gradient(rgb(114, 114, 114), rgb(58, 58, 58));
  clip-path: polygon(
    0% 0%, 0% 100%, 
    25px 100%, 25px 70px,
    -5px 70px, 60px 0px, 130px 70px,
    95px 70px, 95px 100%, 
    100% 100%, 100% 0%
  )
}

.percent {
  grid-row-start: 1;
  grid-row-end: 3;
}

.title {
  color: lightgreen;
  padding: 0px 20px;
  font-size: 6vh;
  white-space: nowrap;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
  height: 100%;
  text-align: left;
  font-weight: bold;
  line-height: calc(8vh + 20px);
  border-right: solid rgba(206, 206, 206, 0.4) 2px;
}

.upper {
  grid-row-start: 1;
  grid-row-end: 2;
  color: white;
  width: 100%;
  text-align: center;
  border-right: solid rgba(206, 206, 206, 0.4) 2px;
  border-left: solid rgba(19, 19, 19, 0.4) 2px
}


.lower {
  grid-row-start: 2;
  grid-row-end: 3;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  border-right: solid rgba(206, 206, 206, 0.4) 2px;
  border-left: solid rgba(19, 19, 19, 0.4) 2px
}

.stop-watch {
  font-weight: bold;
  font-size: 6vh;
}
.stop-watch.flip {
  background: radial-gradient(circle at center, maroon, 70%, red);;
}

.score {
  display: flex;
  justify-content: center;
  font-size: 6vh;
}

.awards {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
}
.current-awards {
  font-size: 5vh;
  white-space: nowrap;
}
.previous-awards {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 1.8vh;
}

.lang {
  line-height: 8vh;
  font-size: 3vh;
}

.awards-tab {
  background: white;
  color: black;
  font-size: 12pt;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 200%;
  height: 100px;
  text-align: left;
  padding: 10px;
  position: absolute;
  bottom: calc(20px + 8vh);
  right: 0;
  overflow: auto
}
.awards-tab.show {
  bottom: -100px;
}

.lang-tab {
  background: white;
  color: black;
  font-size: 8pt;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  gap: 5px;
  height: 210px;
  transform: translateY(-320px)
}
.lang-tab.show {
  transform: translateY(0px)
}

.vert-slider {
  writing-mode: vertical-lr;
  direction: ltr
}

.voice-select {
  grid-column-start: 1;
  grid-column-end: 3;
}

.header-btns {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px;
  padding: 2px;
}

.lower-sect {
  height: 86vh;
  width: 100vw;
  overflow: hidden
}

.view-QR {
  width: min(25vw, 25vh);
  height: min(25vw, 25vh);
  position: fixed;
  right: 0;
  bottom: 0;
  resize: true;
  transition: transform 0.3s;
}
.view-QR.hide {
  transform: translateY(min(25vw, 25vh))
}

.user-name {
  position: fixed;
  right: 0;
  top: 0;
  font-size: 6vh;
  padding: 3px 10px;
  border-bottom-left-radius: 10px;
  background: white;
  color: darkslategray;
  transition: top 0.3s;
}
.user-name.show{
  top: calc(20px + 8vh);
}

img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.main-content {
  height: 100%;
  width: calc(100%);
  /* overflow-x: hidden; */
  position: relative
}

.content-blocks {
  position: absolute;
  left: -0%;
  display: grid;
  justify-content: center;

  height: 100%;
  width: 300%;
  grid-template-columns: 1fr 1fr 1fr;
  transition: left 0.3s
}

.menu-block {
  position: relative;
  margin: auto;
  height: 70vh;
  width: 70vw;
}

.column-block {
  position: relative;
  margin: 3% 10%;
  width: 80%;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
}

.user-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info-wrap {
  height: 50%;
  width: 50%;
  background: lightgray;
  border-radius: 10px;
  padding: 10px;
}

.available-users {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px
}

.user-btn {
  font-size: min(3vw, 20pt);
  border-radius: 500px;
}

.text-input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90%;
  border-radius: 2vh;
  padding: 20px;
  font-size: 1.5rem;
}

button {
  transition: background-color 0.3s;
}

.preset-options {
  position: absolute;
  top: 0;
  width: 100%;
  height: 85%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: rgb(100, 100, 100);
  overflow: hidden;
}

.preset {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 35%;
  height: 15%;
  border-bottom-left-radius: 2vh;
  background-color: maroon;
  color: white;
  font-size: 2rem;
}

.shuffle {
  position: absolute;
  bottom: 0;
  left: 35%;
  width: 10%;
  height: 15%;
  background-color: gray;
  color: white;
  font-size: 2rem;
}
.shuffle.flip{
  background-color: orangered;
}

.repeat {
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  height: 15%;
  background-color: gray;
  color: white;
  font-size: 2rem;
}
.repeat.flip{
  background-color: coral;
}

.timer {
  position: absolute;
  bottom: 0;
  left: 55%;
  width: 10%;
  height: 15%;
  background-color: gray;
  color: white;
  font-size: 2rem;
}
.timer.flip{
  background-color: limegreen;
}

.arrow-frame {
  background: rgb(255, 255, 255);
  height: 75%;
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: limegreen;
  clip-path: polygon(0 33%, 50% 0, 100% 33%, 80% 33%, 80% 100%, 20% 100%, 20% 33%)
}

.go {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
  height: 15%;
  border-bottom-right-radius: 2vh;
  background-color: green;
  color: white;
  font-size: 3rem;
}

.opt {
  height: 3.5vh;
  width: 3.5vh;
  border-radius: 5px;
}

.column {
  background-color: #999999;
  border-radius: 8px;
  padding: 20px;
  font-size: 2rem;
  margin: 1vh;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.column-btn {
  position: absolute;
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  font-size: 4vh;
  line-height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: rotate 0.3s ease-in-out,
              color 0.3s,
              background-color 0.3s;
}
.column-btn:hover{
  /* rotate: 360deg; */
  color: white;
  background-color: maroon;
}

.read {
  bottom: 1vh;
}

span {
  user-select: none;
  position: relative;
  font-size: min(6vw, 6vh);
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  border-radius: 1vh;
  transition: color 0.2s, 
              background-color 0.2s;
}

.next {
  background-color: yellow;
}

.correct {
  color: white;
  background-color: green;
}

.leftButton{
  position: absolute;
  left: calc(max(-6vw, -6vh) - .5vh);
  width: min(6vw, 6vh);
  height: 100%;
  margin: auto;
  font-size: min(5vw, 5vh);
  color: gray;
  border-radius: 1vh;
  background: linear-gradient(90deg, rgb(169, 169, 169), white);
  opacity: 1;
  transition: left 0.2s ease-in,
              opacity 0.2s ease-in,
              display 0s 0.2s;
}
.leftButton.remove-skip{
  left: 0px;
  opacity: 0;
  display: none;
}

.target{
  display: block;
  /* cursor: move; */
}

.behind{
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.disappear {
  opacity: 0;
  display: none;
  z-index: -1
}

.rainbow {
  height: 100%;
  width: 100%;
  /* background: orange; */
}

.search-wrap {
  height: 50px;
  width: calc(100% - 40px);
  color: white;
  background: rgb(154, 154, 154);
  border-radius: 25px;
  padding-left: 15px;
  margin: 20px;
  display: flex;
  align-items: center;
  font-size: 3vh;
  margin-bottom: 3px;
}

.clear {
  color: white;
  background: none;
  border: 0 none;
  resize: none;
  outline: none;
  margin-left: 10px;
  margin-right: 20px;
  width: 100%;
  font-size: 4vh;
}

.titles-and-parts {
  display: flex;
  height: calc(100% - 60px);
  margin-left: 10px;
  margin-right: 10px;
}

.title-cards {
  width: 50%;
  margin: 10px;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.parts-cards {
  width: 50%;
  margin: 10px;
  overflow-y:scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.preset-line {
  color: white;
  background: rgb(154, 154, 154);
  font-size: 30px;
  height: 50px;
  line-height: 50px;
  margin: 3px;
  text-align: left;
  border: none;
  border-radius: 25px;
  overflow: hidden;
}

.one-title{
  padding-left: 3vh;
  font-weight: bold;
}

.title-highlight {
  color: black;
  background: yellow;
}

.one-part{
  background: rgb(154, 154, 154);
  display: flex;
}

input[type="checkbox"]:not(:checked), 
input[type="checkbox"]:checked {
  display: none;
}

input[type="checkbox"] + label {
  cursor: pointer;
  background: none;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
  display: inline-block;
  padding: 0px 5px;
  margin-right: 10px;
  letter-spacing: 10px;
  user-select: none;
  transition: background .2s ease-in-out;
}

input[type="checkbox"]:checked + label {
  background: yellow;
}

input[type="checkbox"]:hover {
  background: black;
}

.shiny {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
              rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
              rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
              rgba(0, 0, 0, 0.06) 0px 2px 1px 0px, 
              rgba(0, 0, 0, 0.09) 0px 4px 2px 0px, 
              rgba(0, 0, 0, 0.09) 0px 8px 4px 0px, 
              rgba(0, 0, 0, 0.09) 0px 16px 8px 0px, 
              rgba(0, 0, 0, 0.09) 0px 32px 16px 0px;
}

.shadow {
  filter: drop-shadow(0 1mm 0.75mm rgb(0, 0, 0));
}

.center-shadow {
  filter: drop-shadow(0 0mm 1.5mm rgb(0, 0, 0));
}
